

<div class="container">
    
    <div class="jumbotron" align="center">
        <h1>EAT-DA-BURGERS!</h1>
        <img class="img-responsive burger" src="./burger.png" alt="Burger">
    </div>

    <div class="row">
        <div class="col-md-7">
        <h2>Uneaten</h2>
            
                {{#each burgers}}
                    {{#unless this.devoured}}
                        <div class="row">
                            <div class="col-md-8 uneaten" align="center">
                                <h3>
                                    {{this.id}}. {{this.name}}
                                </h3>
                            </div>
                            <div class="col-md-4" align="center">
                                <form action="/{{this.id}}?_method=PUT" method="POST">
                                    <input type="hidden" name="devoured" value="true">
                                    <button type="submit">DEVOUR IT</button>
                                </form>
                            </div>
                        </div>  
                    {{/unless}}
                {{/each}}  
            
                   
        </div>
        
        <div class="col-md-5">
            <h2>Eaten</h2>
            
            {{#each burgers}}
                {{#if this.devoured}}
                    <h3>
                        {{this.id}}. {{this.name}}
                    
                    </h3>
                {{/if}}
            {{/each}}
        
        </div>
    </div>
    <div class="row" align="center">
        <h2>Add a Burger</h2>
        <form action="/" method="POST">
            <input type="text" id="ba" name="name">
            <input type="hidden" name="devoured" value="false">
            <button type="submit">ORDER UP</button>
        </form>

        <p>Enter a burger you want to eat.  Click the button.</p>
    </div>

</div>

